/*
  5217 - Web
  Stylesheet
  Common, no colours
*/

/* General Styling */

html {
  font-size: 14px;
}

body {
  min-height: 100vh;
  overflow-y: hidden;
  font-family: 'Roboto', sans-serif;
  box-sizing: border-box;
}

.hide {
  display: none !important;
}

#layer1div, #layer2div {
  width: 100vw;
  height: 100vh;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  position: absolute;
  top: 0px;
  left: 0px;
}
#layer1div {
  z-index: -1;
}
#layer2div {
  z-index: 0;
}

#heroNumber1, #heroNumber2 {
  font-size: 80px;
  font-weight: 300;
  -webkit-margin-before: 0;
  -webkit-margin-after: 0;
  -webkit-margin-start: 0;
  -webkit-margin-end: 0;
  padding-bottom: 1em;
}

#uidiv {
  height: 100px;
  position: fixed;
  bottom: 0;
  right: 0;
  left: 0;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  z-index: 2;
}

#uidiv {
  & > div {
    margin: 0 30px;
  }

  .mdc-icon-button {
    border-radius: 50%;
    height: 64px;
    width: 64px;
    min-width: unset !important;
    min-height: unset !important;
    padding: 20px;
  }
  .mdc-icon-button .mdc-button__icon {
    width: 24px;
    height: 24px;
    font-size: 24px;
    margin-right: 0;
  }
}

#fab-container {
  width: 56px;
  height: 56px;
  position: relative;
}

.mdc-fab {
  z-index: 2;
}

#pulsing-dot-container {
  position: absolute;
  top: 13px;
  bottom: 13px;
  right: 13px;
  left: 13px;
}
#pulsingDot1 {
  width: 30px;
  height: 30px;
  border-radius: 15px;
  z-index: -1;
}

#settings-dialog-header {
  display: flex;
  align-items: center;
  height: 64px;

  span {
    font-size: 1.3em;
    font-weight: 500;
  }
}
#settings-dialog-description {
  padding: 0;

  .mdc-list {
    padding-top: 0;
  }

  .mdc-list-item {
    padding: 0 16px;
  }

  .mdc-list-item__meta {
    padding-left: 24px;
  }
}

#themeMenu {
  z-index: 5217;
}

a.buttonWrapper {
  text-decoration: none;
  color: inherit;
}

.mdc-dialog {
  .mdc-dialog__surface, .mdc-dialog__container {
    width: 100%;
  }
}

#breakMessage1, #breakMessage2 {
  font-size: 25px;
  font-weight: 400;
  visibility: hidden;
  text-align: center;
  padding-left: 12px;
  padding-right: 12px;
}

@media screen and (max-width: 450px) {

  #uidiv {
    justify-content: space-evenly;
  }

  #uidiv > div {
    margin: 0;
    min-width: 40px;
  }

  #fab-container {
    min-width: 56px !important;
  }

}

#topShadow {
  position: fixed;
  top: -1px;
  left: 0;
  right: 0;
  height: 1px;
  z-index: 1;
  box-shadow:
    0 1px 2px rgba(0, 0, 0, 0.12),
    0 2px 4px rgba(0, 0, 0, 0.4),
    0 4px 8px rgba(0, 0, 0, 0.2);
}

.fabimage {
  height: 100%;
  width: 24px;
  margin-top: auto;
  margin-bottom: auto;
}

#sharefab1 {
  cursor: pointer;
}

#resetButton:disabled {
  opacity: 0.5;
}

/* Diable highlighting of FAB & buttons on mobile */

.timerfab, .sharefab, .killButton, .morebutton {
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}

/* Increase visibility (font weight & size) of main text of modal */

#about-dialog-description {
  font-weight: 500 !important;
  font-size: 1rem !important;
}

#about-dialog-description a {
  text-decoration: none !important;
}

#about-dialog, #settings-dialog {
  z-index: 5217;
}

/*
  Animations... for various elements. Duh.
*/

/* Pulsing Dot Animation */

@-webkit-keyframes pulse {
  0% {
    opacity: 1.0;
  }
  50% {
    opacity: 0.1;
  }
  100% {
    opacity: 1.0;
  }
}

@keyframes pulse {
  0% {
    opacity: 1.0;
  }
  50% {
    opacity: 0.1;
  }
  100% {
    opacity: 1.0;
  }
}

.pulseStart {
  -webkit-animation: pulse 0.7s linear infinite;
  animation: pulse 0.7s linear infinite;
  -webkit-animation-delay: .6s;
  /* Safari 4.0 - 8.0 */
  animation-delay: .6s;
}

/* Shrink & Grow FAB (and pulsing dot) animations */

@-webkit-keyframes shrink {
  to {
    -webkit-transform: scale(0, 0);
    opacity: 0;
  }
  from {
    -webkit-transform: scale(1, 1);
    opacity: 1;
  }
}

@keyframes shrink {
  to {
    transform: scale(0, 0);
    opacity: 0;
  }
  from {
    transform: scale(1, 1);
    opacity: 1;
  }
}

@-webkit-keyframes grow {
  from {
    -webkit-transform: scale(0, 0);
  }
  to {
    -webkit-transform: scale(1, 1);
  }
}

@keyframes grow {
  from {
    transform: scale(0, 0);
  }
  to {
    transform: scale(1, 1);
  }
}

.hide-fab {
  -webkit-animation: shrink 0.35s;
  animation: shrink .35s;
  opacity: 0;
}

.show-fab {
  -webkit-animation: grow 0.35s;
  animation: grow 0.35s;
  opacity: 1;
}

.show-dot {
  -webkit-animation: grow 0.5s;
  -webkit-animation-delay: .08s;
  /* Safari 4.0 - 8.0 */
  animation: grow 0.5s;
  animation-delay: .08s;
  opacity: 1;
}

/* Minute-Change SWIPE animation */

@keyframes swipeandfade {
  0% {
    transform: translateY(0);
    opacity: 1;
  }
  99% {
    transform: translateY(110vh);
    opacity: 1;
  }
  100% {
    opacity: 0;
    transform: translateY(110vh);
  }
}

@-webkit-keyframes swipeandfade {
  0% {
    -webkit-transform: translateY(0);
    -webkit-opacity: 1;
  }
  99% {
    -webkit-transform: translateY(110vh);
    -webkit-opacity: 1;
  }
  100% {
    -webkit-opacity: 0;
    -webkit-transform: translateY(110vh);
  }
}

.swipe-background {
  -webkit-animation: swipeandfade 0.51s forwards;
  animation: swipeandfade 0.51s forwards;
}

/*
  This undos Unswipeandfade
*/

@keyframes unswipeandunfade {
  100% {
    transform: translateY(0);
    opacity: 1;
  }
  1% {
    transform: translateY(110vh);
    opacity: 1;
  }
  0% {
    opacity: 0;
    transform: translateY(110vh);
  }
}

@-webkit-keyframes unswipeandunfade {
  100% {
    -webkit-transform: translateY(0);
    -webkit-opacity: 1;
  }
  1% {
    -webkit-transform: translateY(110vh);
    -webkit-opacity: 1;
  }
  0% {
    -webkit-opacity: 0;
    -webkit-transform: translateY(110vh);
  }
}

.unswipe-background {
  -webkit-animation: unswipeandunfade 0.001s forwards;
  animation: unswipeandunfade 0.001s forwards;
}

/* Spin animation for reset button */

@keyframes spinit {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(-360deg);
  }
}

@-webkit-keyframes spinit {
  from {
    -webkit-transform: rotate(0deg);
  }
  to {
    -webkit-transform: rotate(-360deg);
  }
}

.spinit {
  -webkit-animation: spinit 0.6s forwards;
  animation: spinit 0.6s forwards;
  -webkit-transition-timing-function: ease-in-out;
  transition-timing-function: ease-in-out;
}

/* Override the weird highlighting for the FAB on mobile */
.mdc-fab:not(.mdc-ripple-upgraded) {
    -webkit-tap-highlight-color: rgba(0,0,0,0);
}

.mdc-dialog__footer__button--cancel a {
  color: inherit;
}

.noselect {
  -webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none; /* Safari */
     -khtml-user-select: none; /* Konqueror HTML */
       -moz-user-select: none; /* Firefox */
        -ms-user-select: none; /* Internet Explorer/Edge */
            user-select: none; /* Non-prefixed version, currently
                                  supported by Chrome and Opera */
}
