/*
  5217 - Web
  Stylesheet
  Common, dark theme
*/

/* MDC Theme */
$mdc-theme-primary: #4790ff;
$mdc-theme-secondary: #4790ff;
$mdc-theme-surface: #121212;
$mdc-theme-on-surface: white;
$mdc-shape-small-component-radius: 2px;
$mdc-shape-medium-component-radius: 2px;
$mdc-shape-large-component-radius: 2px;

/* MDC Imports */
@import '@material/menu/mdc-menu';
@import "@material/menu-surface/mdc-menu-surface";
@import '@material/button/mdc-button';
@import '@material/list/mdc-list';
@import '@material/fab/mdc-fab';
@import '@material/dialog/mdc-dialog';
@import '@material/switch/mdc-switch';
@import '@material/elevation/mdc-elevation';
@import "@material/icon-button/mdc-icon-button";



/* General styles */

body {
  color: white;
}

#layer1div, #layer2div {
  background-color: $mdc-theme-primary;
}

#heroNumber1, #heroNumber2 {
  color: rgba(255, 255, 255, 0.9);
}

#uidiv {
  .mdc-icon-button {
    @include mdc-icon-button-ink-color(rgba(255, 255, 255, 0.9));
  }

  .mdc-menu-surface {
    @include mdc-menu-surface-fill-color(#1E1E1E);
  }
}

#pulsingDot1 {
  background-color: #96ffbb;
}

#settings-dialog-header {
  color: $mdc-theme-primary;

  button {
    @include mdc-icon-button-ink-color($mdc-theme-primary);
  }
}

#settings-dialog-description {
  .mdc-list-item {
    @include mdc-states-base-color($mdc-theme-primary);
    border-top: 1px solid rgba(255, 255, 255, 0.08);
  }
  .mdc-switch {
    @include mdc-switch-toggled-off-color(#585858);

  }
}

.mdc-dialog {
  @include mdc-dialog-max-width(360px, 16px);
  @include mdc-dialog-scrim-color(black, 0.32);
  @include mdc-dialog-container-fill-color(#1E1E1E);
  @include mdc-dialog-content-ink-color(white, 1);
}

#settingsList {
  @include mdc-list-item-primary-text-ink-color(white);
  @include mdc-list-item-secondary-text-ink-color(rgba(255, 255, 255, 0.6));
}

#themeMenu {
  @include mdc-menu-surface-fill-color(#282828);
}

#about-dialog-description a {
  text-decoration: none !important;
  color: $mdc-theme-primary !important;
}

#breakMessage1, #breakMessage2 {
  color: $mdc-theme-primary;
}

.fabimage {
  color: #1f538f;
}

#sharefab1 {
  background-color: #1E1E1E;
}

#sharefab1 > span {
  color: #237aff;
}

#timerfab1 {
  background-color: #96ffbb;
}

#testingcontainer span {
  color: rgba(255,255,255,0.6);
}