.fixed-action-btn {
    left: calc(50% - 28px);
    bottom: 23px;
}

.threeDots {
    left: calc(35% - 28px);
    bottom: 35px;
}

.killButton {
    left: auto;
    right: calc(35% - 28px);
    bottom: 35px;
}

#heroNumber {
    font-size: 80px;
    font-weight: 300;
    color: #ffffff;
}


/* Pulsing Dot Animation */

@-webkit-keyframes pulse {
    0% {
        opacity: 1.0;
    }
    50% {
        opacity: 0.1;
    }
    100% {
        opacity: 1.0;
    }
}

@keyframes pulse {
    0% {
        opacity: 1.0;
    }
    50% {
        opacity: 0.1;
    }
    100% {
        opacity: 1.0;
    }
}

#pulsingDot {
    width: 30px;
    height: 30px;
    margin-left: 13px;
    margin-bottom: 15px;
    border-radius: 15px;
    background-color: #96ffbb;
    padding: auto;
    z-index: -1;
}

.pulseStart {
    -webkit-animation: pulse 2s linear infinite;
    animation: pulse 2s linear infinite;
    -webkit-animation-delay: .6s; /* Safari 4.0 - 8.0 */
    animation-delay: .6s; /* Safari 4.0 - 8.0 */

}


/* Fade FAB animation */

@-webkit-keyframes shrink {
    to {
        -webkit-transform: scale(0, 0);
            opacity: 0;

       }
    from {
        -webkit-transform: scale(1, 1);
            opacity: 1;

         }
}
        
@keyframes shrink {
    to {
    transform: scale(0, 0);
    opacity: 0;
    }
    from {
        transform: scale(1, 1);
        opacity: 1;
    }
}

@-webkit-keyframes grow {
    from {
        -webkit-transform: scale(0, 0);
    }
    to {
        -webkit-transform: scale(1, 1);
    }
}

@keyframes grow {
    from {
        transform: scale(0, 0);
    }
    to {
        transform: scale(1, 1);
    }
}

.hide-fab {
    -webkit-animation: shrink 0.35s;
    animation: shrink .35s;
    opacity: 0;
}

.show-fab {
    -webkit-animation: grow 0.35s;
    animation: grow 0.35s;
    opacity: 1;
}

.show-dot {
    -webkit-animation: grow 0.5s;
    -webkit-animation-delay: .08s; /* Safari 4.0 - 8.0 */
    animation: grow 0.5s;
    animation-delay: .08s;
    opacity: 1;
}
.playlink {
    display: block;
    width: 180px;
    height: 66px;
    padding: 16px 20px;
    border-radius: 4px;
    box-shadow: 0 1px 3px 0 rgba(0,0,0,.2),0 1px 1px 0 rgba(0,0,0,.14),0 2px 1px -1px rgba(0,0,0,.12);
    background-color: #000;
    background-image: url(http://gratus.xyz/images/onplay.png);
    background-repeat: no-repeat;
    background-size: 140px 34px;
    background-position: 50% 50%;
    text-decoration: none;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    z-index: 100;
    transition: box-shadow .15s ease;
    outline: 0;
    margin-top: 32px
}
.playlink:focus,.playlink:hover {
    box-shadow: 0 2px 4px -1px rgba(0,0,0,.2),0 4px 5px 0 rgba(0,0,0,.14),0 1px 10px 0 rgba(0,0,0,.12)
}

.playlink:active {
    box-shadow: 0 5px 5px -3px rgba(0,0,0,.2),0 8px 10px 1px rgba(0,0,0,.14),0 3px 14px 2px rgba(0,0,0,.12)
}

#backgroundf {
    background-color: #237aff; 
    min-height: 100vh;
    min-width: 100vw;
    position: absolute;
    top: 0px;
    left: 0px
}

#backgroundfcontainer {    z-index: -1; position: absolute; top: 0px;
    left: 0px;
}
#backgroundbcontainer {    z-index: -2; position: absolute;top: 0px;
    left: 0px;
}
#backgroundb {
    background-color: #267dff;
    min-height: 100vh;
    min-width: 100vw;
    position: absolute;
    top: 0px;
    left: 0px;
}

@keyframes swipe {
    to {
        transform: translateY(110vh);
    }
    from {
        transform: translateY(0);
    }
}

@-webkit-keyframes swipe {
    to {
        -webkit-transform: translateY(110vh);
    }
    from {
        -webkit-transform: translateY(0);
    }
}
@keyframes quickfade {
    to {
opacity: 0;
    }
    from {
opacity: 1;
    }
}

@-webkit-keyframes quickfade {
    to {
opacity: 0;
    }
    from {
opacity: 1;
    }
}

.swipe-background {
    -webkit-animation: swipe 0.4s;
    animation: swipe 0.4s;
}

.fade-background {
    -webkit-animation: quickfade 0.001s forwards;
    animation: quickfade 0.001s forwards;
    animation-delay: .39s;
    -webkit-animation-delay: .39s;
}
@keyframes unfade {
    from {
opacity: 0;
    }
    to {
opacity: 1;
    }
}

@-webkit-keyframes unfade {
    from {
opacity: 0;
    }
    to {
opacity: 1;
    }
}
.unfade-background {
    -webkit-animation: unfade 0.001s forwards;
    animation: unfade 0.001s forwards;
    animation-delay: .6s;
    -webkit-animation-delay: .6s;
}

@keyframes unswipe {
    from {
        transform: translateY(110vh);
    }
    to {
        transform: translateY(0);
    }
}

@-webkit-keyframes unswipe {
    from {
        -webkit-transform: translateY(110vh);
    }
    to {
        -webkit-transform: translateY(0);
    }
}
.unfade-background {
    -webkit-animation: unswipe 0.01s forwards;
    animation: unswipe 0.01s forwards;
    animation-delay: .8s;
    -webkit-animation-delay: .8s;
}

@keyframes spinit {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(-360deg);
    }
}

@-webkit-keyframes spinit {
    from {
        -webkit-transform: rotate(0deg);
    }
    to {
        -webkit-transform: rotate(-360deg);
    }
}
.spinit {
    -webkit-animation: spinit 0.6s forwards;
    animation: spinit 0.6s forwards;
}

/* Diable highlighting of FAB & buttons on mobile */
#timerfab, #sharefab, .killButton, #moreButton {
    -webkit-tap-highlight-color: rgba(0,0,0,0);
}

/* Increase visibility (font weight & size) of main text of modal */
#my-mdc-dialog-description {
    font-weight: 500 !important;
    font-size: 1rem !important;
}