/*
  5217 - Web
  Stylesheet
*/

/* General Styling */

body {
  min-height: 100vh;
  overflow-y: hidden;
  font-family: 'Roboto', sans-serif;
}

.fixed-action-btn {
  left: calc(50% - 28px);
  bottom: 23px;
}

.threeDots {
  left: calc(35% - 28px);
  bottom: 35px;
}
.mdc-menu {
  bottom: 32px !important;
}
.settingslist {
  justify-content: space-between;
  padding: 0px !important;
}
#settings-dialog-description {
  margin-top: 0px;
  padding: 0px 8px 0px 24px !important;
}
.killButton {
  left: auto;
  right: calc(35% - 28px);
  bottom: 35px;
}

#layer1div .row .container {
  min-height: 85vh;
}

#layer2div .row .container {
  min-height: 85vh;
}

#heroNumber1, #heroNumber2 {
  font-size: 80px;
  font-weight: 300;
  color: #ffffff;
  padding-top: 180px;
}
.mdc-menu-anchor {
  position: absolute !important;
  left: calc(35% - 28px);
  bottom: 35px;
}
.mdc-simple-menu {
  margin-bottom: 15px;
  z-index: 1000;
}
@media screen and (max-width: 600px) {
  .mdc-menu-anchor {
    left: calc(28% - 28px);
    bottom: 35px;
  }
  .threeDots {
    left: calc(28% - 28px);
    bottom: 35px;
  }

  .killButton {
    left: auto;
    right: calc(28% - 28px);
    bottom: 35px;
  }
}
@media screen and (max-height: 750px) {
  #heroNumber, #heroNumber2 {
    padding-top: 120px;
  }
}

@media screen and (max-height: 550px) {
  #heroNumber, #heroNumber2 {
    padding-top: 60px;
  }
}

@media screen and (max-height: 450px) {
  #heroNumber, #heroNumber2 {
    padding-top: 0px;
  }
}

#breakMessage1, #breakMessage2 {
  font-size: 25px;
  font-weight: 400;
  color: #237aff;
  visibility: hidden;
  text-align: center;
  padding-left: 12px;
  padding-right: 12px;
}

#pulsingDot1 {
  width: 30px;
  height: 30px;
  margin-left: 13px;
  margin-bottom: 15px;
  border-radius: 15px;
  background-color: #96ffbb;
  padding: auto;
  z-index: -1;
}

#layer1div {
  background-color: #237aff;
  min-height: 100vh;
  min-width: 100vw;
  position: absolute;
  top: 0px;
  left: 0px;
  z-index: -1;
}
#layer2div {
  background-color: #237aff;
  min-height: 100vh;
  min-width: 100vw;
  position: absolute;
  top: 0px;
  left: 0px;
  z-index: 0;
}

#backgroundfcontainer {
  z-index: -1;
  position: absolute;
  top: 0px;
  left: 0px;
}
#backgroundbcontainer {
  z-index: -2;
  position: absolute;
  top: 0px;
  left: 0px;
}
#backgroundb {
  background-color: #267dff;
  min-height: 100vh;
  min-width: 100vw;
  position: absolute;
  top: 0px;
  left: 0px;
}

#moreButton {
  color: #ffffff;
  cursor: pointer;
}

.fabimage {
  color: #1f538f;
  height: 100%;
  width: 24px;
  margin-top: auto;
  margin-bottom: auto;
}

#sharefab1 {
  cursor: pointer;
  background-color: #ffffff;
}

#sharefab1>span {
  color: #237aff;
}

#resetButton1 {
  color: #ffffff; cursor:pointer;
}

.inactive-element {
  opacity: 0.5;
}
.active-element {
  opacity: 1.0;
}

#timerfab1 {
  background-color: #96ffbb;
}

.alphaversion {
  font-family: 'Dosis', sans-serif;
  font-weight: 200;
  color: black;
}
.bob {margin-right: 10px;}
a {
  color: var(--mdc-theme-primary);
}
* {
  --mdc-theme-primary: #237aff !important;
}
.switch label input[type=checkbox]:checked+.lever {
    background-color: #419aff !important;
}
.switch label input[type=checkbox]:checked+.lever:after {
    background-color: #237aff !important;
}
/* Diable highlighting of FAB & buttons on mobile */

.timerfab, .sharefab, .killButton, .moreButton {
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}

/* Increase visibility (font weight & size) of main text of modal */

#about-dialog-description {
  font-weight: 500 !important;
  font-size: 1rem !important;
}

/*
  Animations... for various elements. Duh.
*/

/* Pulsing Dot Animation */

@-webkit-keyframes pulse {
  0% {
    opacity: 1.0;
  }
  50% {
    opacity: 0.1;
  }
  100% {
    opacity: 1.0;
  }
}

@keyframes pulse {
  0% {
    opacity: 1.0;
  }
  50% {
    opacity: 0.1;
  }
  100% {
    opacity: 1.0;
  }
}

.pulseStart {
  -webkit-animation: pulse 1s linear infinite;
  animation: pulse 1s linear infinite;
  -webkit-animation-delay: .6s;
  /* Safari 4.0 - 8.0 */
  animation-delay: .6s;
}

/* Shrink & Grow FAB (and pulsing dot) animations */

@-webkit-keyframes shrink {
  to {
    -webkit-transform: scale(0, 0);
    opacity: 0;
  }
  from {
    -webkit-transform: scale(1, 1);
    opacity: 1;
  }
}

@keyframes shrink {
  to {
    transform: scale(0, 0);
    opacity: 0;
  }
  from {
    transform: scale(1, 1);
    opacity: 1;
  }
}

@-webkit-keyframes grow {
  from {
    -webkit-transform: scale(0, 0);
  }
  to {
    -webkit-transform: scale(1, 1);
  }
}

@keyframes grow {
  from {
    transform: scale(0, 0);
  }
  to {
    transform: scale(1, 1);
  }
}

.hide-fab {
  -webkit-animation: shrink 0.35s;
  animation: shrink .35s;
  opacity: 0;
}

.show-fab {
  -webkit-animation: grow 0.35s;
  animation: grow 0.35s;
  opacity: 1;
}

.show-dot {
  -webkit-animation: grow 0.5s;
  -webkit-animation-delay: .08s;
  /* Safari 4.0 - 8.0 */
  animation: grow 0.5s;
  animation-delay: .08s;
  opacity: 1;
}

/* Minute-Change SWIPE animation */

@keyframes swipeandfade {
  0% {
    transform: translateY(0);
    opacity: 1;
  }
  99% {
    transform: translateY(110vh);
    opacity: 1;
  }
  100% {
    opacity: 0;
    transform: translateY(110vh);
  }
}

@-webkit-keyframes swipeandfade {
  0% {
    -webkit-transform: translateY(0);
    -webkit-opacity: 1;
  }
  99% {
    -webkit-transform: translateY(110vh);
    -webkit-opacity: 1;
  }
  100% {
    -webkit-opacity: 0;
    -webkit-transform: translateY(110vh);
  }
}

.swipe-background {
  -webkit-animation: swipeandfade 0.51s forwards;
  animation: swipeandfade 0.51s forwards;
}

/*
  This undos Unswipeandfade
*/

@keyframes unswipeandunfade {
  100% {
    transform: translateY(0);
    opacity: 1;
  }
  1% {
    transform: translateY(110vh);
    opacity: 1;
  }
  0% {
    opacity: 0;
    transform: translateY(110vh);
  }
}

@-webkit-keyframes unswipeandunfade {
  100% {
    -webkit-transform: translateY(0);
    -webkit-opacity: 1;
  }
  1% {
    -webkit-transform: translateY(110vh);
    -webkit-opacity: 1;
  }
  0% {
    -webkit-opacity: 0;
    -webkit-transform: translateY(110vh);
  }
}

.unswipe-background {
  -webkit-animation: unswipeandunfade 0.001s forwards;
  animation: unswipeandunfade 0.001s forwards;
}

/* Spin animation for reset button */

@keyframes spinit {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(-360deg);
  }
}

@-webkit-keyframes spinit {
  from {
    -webkit-transform: rotate(0deg);
  }
  to {
    -webkit-transform: rotate(-360deg);
  }
}

.spinit {
  -webkit-animation: spinit 0.6s forwards;
  animation: spinit 0.6s forwards;
  -webkit-transition-timing-function: ease-in-out;
  transition-timing-function: ease-in-out;
}

/* Override the weird highlighting for the FAB on mobile */
.mdc-fab:not(.mdc-ripple-upgraded) {
    -webkit-tap-highlight-color: rgba(0,0,0,0);
}

.mdc-dialog__footer__button--cancel a {
  color: inherit;
}

#testingcontainer span {
  color: var(--mdc-theme-text-secondary-on-light,rgba(0,0,0,.54));
}

.noselect {
  -webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none; /* Safari */
     -khtml-user-select: none; /* Konqueror HTML */
       -moz-user-select: none; /* Firefox */
        -ms-user-select: none; /* Internet Explorer/Edge */
            user-select: none; /* Non-prefixed version, currently
                                  supported by Chrome and Opera */
}
